form {
    width: 100px;
    /* height: 20px; */
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-gap: 10px;
}
.flexContainer {
    display : flex;
    flex-wrap : wrap;
}
.flexItem {
    flex : 1 0 50%;
}
.githubLink {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    z-index: 1;
  }
.githubLinkImg{
    height: auto;
    width: 35px;
  }
.githubLinkImg:hover{
    height: auto;
    width: 40px;
}

.button {
    z-index: 2;
}
@media(max-width : 600px) {.flexItem {
        flex-basis : 100%;
    }
}

@media print {.noPrint {
        display : none;
    }
    @page {
        size : a4; /* auto is the initial value */
        margin : 0; /*this affects the margin in the printer settings */
    }
    body {
        margin : 2.0cm;
    }
}
