@media print {
    .noPrint {
        display:none;
      }
      @page {
        size: a4;   /* auto is the initial value */
        margin: 0;  /*this affects the margin in the printer settings */
    }
    body{
        margin: 1.6cm;
    }
    }